@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 252 248; 
    --foreground: 41 37 36; 
    --primary: 94 234 212; 
    --font-serif: "Playfair Display", serif;
    --font-sans: "Lato", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: #44403c;
    font-weight: 500;
  }

  p, span, a, li {
    font-family: var(--font-sans);
    color: #57534e;
  }
}